<div class="container">
  <h1>Política de privacidad</h1>
  <div>
    <p>Para poder utilizar el Website, los Usuarios deberán aportar algunos datos, entre ellos, su nombre, apellido, numero de teléfono y cuenta de email, sin los cuales se tornaría imposible brindar los servicios ofrecidos. Por eso se requiere que estos datos sean verdaderos y exactos. Proporcionar dichos datos personales supone la aceptación sin reservas de las condiciones aquí establecidas.</p>
    <p>El Usuario que se registre al Website a través de una red social acepta expresamente que:</p>
    <ul>
      <li>El Website tenga acceso, en cualquier momento, a la totalidad de la información contenida en su cuenta de red social, incluyendo en particular, pero sin limitación, a su Información personal, información sobre sus intereses, gustos, contactos y cualquier otro contenido allí alojado.</li>
      <li>El Website envíe al correo electrónico y/o al teléfono del Usuario vinculado a la red social, información o mensajes.</li>
    </ul>

    <h4>Finalidad de los Datos Recolectados</h4>
    <p>Los datos recolectados tendrán por finalidad:</p>
    <ul>
      <li>Proporcionar a los Profesores los detalles para poder brindar los servicios ofrecidos.</li>
      <li>Optimizar los servicios brindados por el Website, y proteger a los Usuarios de otros Usuarios que potencialmente hagan uso indebido del Website.</li>
      <li>Obtener métricas de uso y análisis para la continua mejora del Website.</li>
      <li>Envío de alertas o notificaciones por SMS o email respecto a los servicios utilizados.</li>
      <li>Personalizar el contenido presentado al Usuario.</li>
    </ul>

    <h4>Datos Recolectados</h4>
    <p>El Website podrá obtener y almacenar automáticamente determinada información en sus registros cada vez que el Usuario utilice los servicios o consulte contenidos. Dicha información incluye:</p>
    <ul>
      <li>Información detallada sobre la utilización de los servicios provistos como, por ejemplo, las rutinas y ejercicios realizados.</li>
      <li>La dirección IP.</li>
      <li>Cookies, que permitirán identificar del navegador o cuenta del Usuario en el sistema de identificación único.</li>
      <li>Datos específicos sobre el dispositivo mediante el cual se accede al mismo como, por ejemplo, el modelo de equipo, la versión del sistema operativo.</li>
      <li>Ubicación física del Usuario, obtenidas a partir del GPS del dispositivo móvil o calculada a partir de los puntos de acceso Wi-Fi y las antenas de telefonía móvil más cercanos.</li>
    </ul>

    <h4>Cookies</h4>
    <p>El Website utiliza cookies que se almacenan en el dispositivo del Usuario cuando éste navega por el sitio. Estas cookies tienen por finalidad facilitar la navegación por el sitio al Usuario, y proporcionar al Website información que le ayuda a mejorar sus servicios. El sitio puede incluir cookies anónimas colocadas por terceros (proveedores de tecnología) en el navegador.</p>

    <h4>Datos Recolectados o Provistos por Terceros</h4>
    <h6>Google Analytics</h6>
    <ul>
      <li>El Website recolecta información estadística anónima para la evaluación y mejora del servicio a través de un servicio de terceros (Google Analytics).</li>
      <li>El Website utiliza cookies para almacenar parte de esta información en el dispositivo del Usuario.</li>
      <li>En el siguiente enlace puede consultar los Términos de Uso de Google Analytics:<a href="https://www.google.com/analytics/terms/us.html">https://www.google.com/analytics/terms/us.html</a></li>
    </ul>

    <h6>Google</h6>
    <ul>
      <li>El Usuario puede crear su cuenta en el Website a través de su cuenta de Google.</li>
      <li>Google podrá proporcionar al Website información sobre el Usuario según lo definido en la política de Privacidad de Google.</li>
      <li>El Website acepta y cumple con la Política de Privacidad definida por Google. <a href="https://www.google.com/intl/es_ar/policies/privacy/">https://www.google.com/intl/es_ar/policies/privacy/</a></li>
    </ul>

    <h6>Facebook</h6>
    <ul>
      <li>El Usuario puede crear su cuenta en el Website a través de su cuenta de Facebook.</li>
      <li>Facebook podrá proporcionar al Website información sobre el Usuario según lo definido en la política de Privacidad de Facebook.</li>
      <li>El Website acepta y cumple con la Política de Privacidad definida por Facebook. <a href="https://www.facebook.com/about/privacy/">https://www.facebook.com/about/privacy/</a></li>
    </ul>

    <h4>Responsabilidad</h4>
    <p>El Website no controla ni es responsable por accionar de otros sitios web y otros productos y servicios a los cuales se puede acceder por medio del mismo, por lo que recomendamos la lectura de la Política de Privacidad de cada uno de ellos.</p>

    <h4>Modificaciones de las Política de Privacidad</h4>
    <p>El Website se reserva el derecho de modificar en cualquier momento la presente Política de Privacidad, comprometiéndose a anunciarlo por medio de un aviso en el mismo.</p>
  </div>
</div>
