<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ 'homeComponent.welcome' | translate }}</h1>
    <p class="lead">{{ 'homeComponent.slogan' | translate }}</p>
  </div>
</div>
<div class="container">
  <p>{{ 'homeComponent.p1' | translate }}</p>
  <p>{{ 'homeComponent.p2' | translate }}</p>
</div>

<div class="container">
  <p>{{ 'homeComponent.logInText' | translate }}</p>
  <button
      class="btn btn-outline-success mb-2 login"
      (click)="auth.login()"
      *ngIf="!auth.loggedIn"
    >
    {{ 'homeComponent.logInText' | translate }}
    </button>
  <p>{{ 'homeComponent.p3' | translate }}</p>
  <figure class="figure">
    <a routerLink="/routines/270" class="zoom">
      <img src="/assets/images/venko-strong-new.jpg" class="figure-img img-fluid rounded transition">
      <figcaption class="figure-caption">{{ 'homeComponent.routineStrong' | translate }}</figcaption>
    </a>
  </figure>
  <figure class="figure">
    <a routerLink="/routines/275" class="zoom">
      <img src="/assets/images/venko-burn-new.jpg" class="figure-img img-fluid rounded transition">
      <figcaption class="figure-caption">{{ 'homeComponent.routineBurn' | translate }}</figcaption>
    </a>
  </figure>
  <figure class="figure">
    <a routerLink="/routines/1429" class="zoom">
      <img src="/assets/images/venko-mobility-new.jpg" class="figure-img img-fluid rounded transition">
      <figcaption class="figure-caption">{{ 'homeComponent.routineMobility' | translate }}</figcaption>
    </a>
  </figure>
  <figure class="figure">
    <a routerLink="/routines/1431" class="zoom">
      <img src="/assets/images/venko-bye-bye-paunch-new.jpg" class="figure-img img-fluid rounded transition">
      <figcaption class="figure-caption">{{ 'homeComponent.routineByePunch' | translate }}</figcaption>
    </a>
  </figure>
</div>
