<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Venko</h1>
    <p class="lead">Digital personalized training</p>
  </div>
</div>
<div class="container">
  <p>Venko training provides personalized routines and exercises that are updated every month.</p>
  <p>Users have different routines depending on their goals and physical capabilities.</p>
</div>

<div class="container">
  <h6>Some of our best targeted routines are:</h6>
  <figure class="figure">
    <img src="/assets/images/venko-strong-new.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">Improve your strength week by week.</figcaption>
  </figure>
  <figure class="figure">
    <img src="/assets/images/venko-burn.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">Burn calories, increase your heart rate and improve your resistance.</figcaption>
  </figure>
  <figure class="figure">
    <img src="/assets/images/venko-mobility-new.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">Improve your flexibility and keep healthy joints.</figcaption>
  </figure>
  <figure class="figure">
    <img src="/assets/images/venko-special-new.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">Improve your equilibrium and agility.</figcaption>
  </figure>
  <figure class="figure">
    <img src="/assets/images/venko-running-new.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">Specially created for runners.</figcaption>
  </figure>
</div>
