<div class="container">
  <h1>Términos y condiciones</h1>
  <div>
    <h4>Alcance</h4>
    <p>Los presentes Términos y Condiciones son aplicables al uso de los servicios ofrecidos por el sitio web https://venko.training (en adelante el “Website”).</p>
    <p>El usuario (en adelante el “Usuario”) entiende que el acceso y uso del Website resultará en la aceptación de los presentes Términos y Condiciones. Asimismo, el Usuario entiende que acepta la Política de Privacidad, anexo a los presentes Términos y Condiciones.</p>
    <p><strong>Cualquier persona que no acepte estos Términos y Condiciones y/o la Política de Privacidad, los cuales tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar el Website.</strong></p>

    <h4>Capacidad para aceptar estos Términos y Condiciones</h4>
    <p>Usted afirma ser mayor de 18 años, menor emancipado o que posee permiso legal de sus padres y/o tutor y que está completamente habilitado y es competente para entender y aceptar sin reservas las obligaciones, afirmaciones, representaciones y garantías establecidas en estos Términos y Condiciones.</p>

    <h4>Responsabilidad</h4>
    <p>El Website provee rutinas y ejercicios diseñados para los alumnos del gimnasio Venko - Entrenamiento Digital Personalizado de la ciudad de Tandil.</p>
    <p>El Website no tiene ninguna participación en la creación de rutinas o ejercicios, ni en la asignación de estos ejercicios a los diferentes Usuarios, por ésto el Website no será responsable respecto de la existencia, calidad, cantidad, estado, integridad o legitimidad de los servicios adquiridos por los Usuarios.</p>
    <p>El Usuario conoce y acepta que al realizar ejercicios lo hace bajo su propio riesgo, y que en ningún caso el Website será responsable por cualquier daño y/o perjuicio que haya sufrido.</p>

    <h4>Propiedad Intelectual</h4>
    <p>Las marcas, avisos, nombres comerciales, frases de propaganda, dibujos, diseños, logotipos, textos, etc. que aparecen en el Website son propiedad de sus respectivos dueños. El Website se reserva el derecho de eliminar de forma unilateral cualquier elemento que viole de alguna manera los derechos de propiedad intelectual de terceros.</p>

    <h4>Modificación de Los Términos y Condiciones</h4>
    <p>El Website se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento, comprometiéndose a anunciarlo por medio de un aviso en el mismo.</p>

    <h4>Enlaces con otros Sitios, Productos y Servicios</h4>
    <p>El Website puede contener enlaces hacia sitios, productos y servicios de terceros. El Website no administra ni controla dichos sitios, productos y servicios y no es responsable de sus contenidos ni de cualquier daño y perjuicio que tales contenidos, productos y servicios pudieran causar, por lo que se recomienda la lectura de los Términos y Condiciones de cada uno de ellos.</p>

    <h4>Registración</h4>
    <p>La registración de los Usuarios se realiza ingresando al Website, y no tiene costo alguno. La misma puede ser mediante alguna de las redes sociales (Google, Facebook, Microsoft). El Website no se responsabiliza por la veracidad o certeza de los datos provistos por los Usuarios. Asimismo, el Website se reserva el derecho de suspender temporal o definitivamente a los Usuarios en caso de incumplimiento de los Términos y Condiciones.</p>

    <h4>Obligaciones de los Usuarios</h4>
    <p>El Website diferencia dos roles de Usuarios. Por un lado, los Usuarios que entran al Website para realizar ejercicios. Y por otro lado, los Profesores, que realizan seguimiento del progreso de los Usuarios.</p>
    <p><strong>Obligaciones del Usuario</strong>. Los Usuarios podran ver las rutinas y ejercicios acordado con su profesor. Al finalizar cada rutina, el Usuario puede grabar su progreso para que sea monitoreado por su Profesor.</p>
    <p><strong>Obligaciones del Profesor</strong>. El Profesor se compromete a hacer un uso adecuado de los detalles personales de los Usuarios.</p>

    <h4>Cargos</h4>
    <p>El registro en el Website para poder ver las rutinas y mantener un historial de entrenamiento es gratuito.</p>
    <p>El Website se reserva el derecho de modificar, cambiar, agregar, o eliminar los costos vigentes, en cualquier momento, lo cual será notificado a los Usuarios. Además, el Website podrá modificar temporalmente los costos por sus servicios por razón de promociones, siendo efectivas estas modificaciones cuando se haga pública la promoción o se realice el anuncio.</p>
  </div>
</div>
