<div class="container">
  <h1>Términos y condiciones</h1>
  <div>
    <h4>Alcance</h4>
    <p>Los presentes Términos y Condiciones son aplicables al uso de los servicios ofrecidos por el sitio web https://venko.training (en adelante el “Website”).</p>
    <p>El usuario (en adelante el “Usuario”) entiende que el acceso y uso del Website resultará en la aceptación de los presentes Términos y Condiciones. Asimismo, el Usuario entiende que acepta la Política de Privacidad, anexo a los presentes Términos y Condiciones.</p>
    <p><strong>Cualquier persona que no acepte estos Términos y Condiciones y/o la Política de Privacidad, los cuales tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar el Website.</strong></p>

    <h4>Capacidad para aceptar estos Términos y Condiciones</h4>
    <p>Usted afirma ser mayor de 18 años, menor emancipado o que posee permiso legal de sus padres y/o tutor y que está completamente habilitado y es competente para entender y aceptar sin reservas las obligaciones, afirmaciones, representaciones y garantías establecidas en estos Términos y Condiciones.</p>

    <h4>Responsabilidad</h4>
    <p>El Website sólo brinda un espacio para conectar Usuarios que ofrecen lugares y/o servicios con aquellos Usuarios que lo necesitan. El Website no posee salones o servicios propios.</p>
    <p>El Website no interviene en las operaciones realizadas entre los Usuarios ni en las condiciones acordadas por ellos, por ésto no será responsable respecto de la existencia, calidad, cantidad, estado, integridad o legitimidad de los bienes o servicios ofrecidos y/o adquiridos por los Usuarios. </p>
    <p>Dado que el Website no tiene ninguna participación en el acuerdo entre los Usuarios, no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios. El Usuario conoce y acepta que al realizar operaciones con otros Usuarios lo hace bajo su propio riesgo, y que en ningún caso el Website será responsable por cualquier daño y/o perjuicio que haya sufrido.</p>

    <h4>Propiedad Intelectual</h4>
    <p>Las marcas, avisos, nombres comerciales, frases de propaganda, dibujos, diseños, logotipos, textos, etc. que aparecen en el Website son propiedad de sus respectivos dueños. El Website se reserva el derecho de eliminar de forma unilateral cualquier elemento que viole de alguna manera los derechos de propiedad intelectual de terceros.</p>

    <h4>Modificación de Los Términos y Condiciones</h4>
    <p>El Website se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento, comprometiéndose a anunciarlo por medio de un aviso en el mismo.</p>

    <h4>Enlaces con otros Sitios, Productos y Servicios</h4>
    <p>El Website puede contener enlaces hacia sitios, productos y servicios de terceros. El Website no administra ni controla dichos sitios, productos y servicios y no es responsable de sus contenidos ni de cualquier daño y perjuicio que tales contenidos, productos y servicios pudieran causar, por lo que se recomienda la lectura de los Términos y Condiciones de cada uno de ellos.</p>

    <h4>Registración</h4>
    <p>La registración de los Usuarios se realiza ingresando al Website, y no tiene costo alguno. La misma puede ser mediante redes sociales (Google o Facebook) O a través de un email y contraseña proporcionado por el Usuario. El Website no se responsabiliza por la veracidad o certeza de los datos provistos por los Usuarios. Asimismo, el Website se reserva el derecho de suspender temporal o definitivamente a los Usuarios en caso de incumplimiento de los Términos y Condiciones.</p>

    <h4>Obligaciones de los Usuarios</h4>
    <p>El Website diferencia dos roles de Usuarios. Por un lado, los Usuarios que entran al Website buscando un salón, servicio o insumos para organizar un evento. Y por otro lado, los Usuarios Anunciantes, que publican su salón, o que proveen un servicio, y/o que venden insumos para eventos.</p>
    <p><strong>Obligaciones del Usuarios</strong>. Los Usuarios interesados en algún salón, servicio o insumo podrán contactar con el Anunciante para consultar sobre los mismos. Al momento de pedir los detalles de contacto del Anunciante, el Website enviará a este último una notificación con el nombre del usuario. Así mismo, el Usuario recibirá detalles personales del Anunciante como el nombre, email y teléfono. El Usuario se compromete a hacer un uso adecuado de esos detalles personales.</p>
    <p><strong>Obligaciones del Anunciante</strong>. El Usuario Anunciante debe tener capacidad legal para alquilar, vender, o prestar el servicio objeto de su anuncio. El Anunciante accede a que el Website comparta sus detalles de contactos con aquellos Usuarios que estén interesados en su anuncio. El Anunciante se compromete a mantener actualizado los anuncios tanto las descripciones como los precios. En caso de que la información o los datos suministrados por el Anunciante no sea verdadera, éste será responsable por los daños que este hecho pudiera ocasionar.</p>

    <h4>Cargos</h4>
    <p>El registro en el Website para poder contactar con Anunciantes es gratuito.</p>
    <p>El Usuario Anunciante solo deberá pagar al Website un costo fijo cada vez que un Usuario pida sus detalles de contacto.</p>
    <p>El Website se reserva el derecho de modificar, cambiar, agregar, o eliminar los costos vigentes, en cualquier momento, lo cual será notificado a los Usuarios. Además, el Website podrá modificar temporalmente los costos por sus servicios por razón de promociones, siendo efectivas estas modificaciones cuando se haga pública la promoción o se realice el anuncio.</p>
  </div>
</div>
