<ngb-alert *ngIf="showWarning" [dismissible]="false">
  <strong>Warning!</strong> You are checking training history for: Rodrigo Ibanez
</ngb-alert>

<div class="container">

  <span class="dates-picker">
    <button type="button" class="btn btn-link" aria-label="Previous month" title="Previous month" (click)="onLeftMonth()">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <h2>{{ this.selectedMonth.format('YYYY-MM') }}</h2>
    <button type="button" class="btn btn-link" aria-label="Next month" title="Next month" (click)="onRightMonth()">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </span>

  <venko-async-container [isLoading]="trainingHistoryIsLoading$ | async">

    <ng-container *ngIf="trainingHistory$ | async as trainingHistory">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{ 'trainingHistoryComponent.date' | translate }}</th>
            <th scope="col">{{ 'trainingHistoryComponent.routineId' | translate }}</th>
            <th scope="col">{{ 'trainingHistoryComponent.routineType' | translate }}</th>
            <th scope="col">{{ 'trainingHistoryComponent.lapsCount' | translate }}</th>
            <th scope="col">{{ 'trainingHistoryComponent.duration' | translate }}</th>
            <th scope="col">{{ 'trainingHistoryComponent.dificulty' | translate }}</th>
            <th scope="col">{{ 'trainingHistoryComponent.weight' | translate }}</th>
            <th scope="col">{{ 'trainingHistoryComponent.mood' | translate }}</th>
            <th scope="col">{{ 'trainingHistoryComponent.energyLevel' | translate }}</th>
            <th scope="col">{{ 'global.edit' | translate }}</th>
            <th scope="col">{{ 'global.delete' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of trainingHistory.items; let i = index">
            <tr>
              <td>{{ formatDate(item.date) }}</td>
              <td><a [routerLink]="['/routines/'+item.routineId]">{{item.routineId}}</a></td>
              <td>{{ item.routineType }}</td>
              <td>{{ item.lapsCount }}</td>
              <td>{{ item.duration }}</td>
              <td>{{ item.dificulty }}</td>
              <td>{{ item.weight || '-' }}</td>
              <td class="mood"><venko-mood [mood]="item.mood"></venko-mood></td>
              <td class="energy"><venko-energy-bar [energy]="item.energyLevel"></venko-energy-bar></td>
              <td>
                <button type="button" class="btn btn-outline-info btn-sm" (click)="onUpdateItem(modalContent, item, i)">
                  {{ 'global.edit' | translate }}
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDeleteItem(i)">
                  {{ 'global.delete' | translate }}
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <div class="no-training" *ngIf="trainingHistory.items.length == 0">
        {{ 'trainingHistoryComponent.noTraining' | translate }}
      </div>
    </ng-container>

      <button
        type="button"
        class="btn btn-primary float-right mt-20"
        (click)="onAddItem(modalContent)">
        {{ 'global.add' | translate }}
      </button>

      <ng-template #modalContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="selectedItem == null" id="modal-basic-title">{{ 'global.add' | translate }}</h4>
          <h4 class="modal-title" *ngIf="selectedItem != null" id="modal-basic-title">{{ 'global.edit' | translate }}</h4>
        </div>
        <div class="modal-body">
          <venko-training-history-edit
            [trainingHistory]="trainingHistory$ | async"
            [selectedMonth]="selectedMonth"
            [item]="selectedItem"
            [editIndex]="selectedItemIndex"
            (saved)="onCloseModal()">
          </venko-training-history-edit>
        </div>
      </ng-template>

    <ng-container *ngIf="trainingHistory$ | async as trainingHistory">

    </ng-container>

    <pre *ngIf="!environment.production">
      <code>{{ trainingHistory$ | async | json }}</code>
    </pre>
  </venko-async-container>
</div>
