.container {
  margin-top: 20px;

  .slide-container {
    position: relative;

    &.full-screen{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1031;
      width: 100%;

      venko-timer {
        z-index: 1032;
      }
    }

    venko-video-modal {
      position: absolute;
      z-index: 1031;
      top: 10px;
    }

    venko-timer {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }

    button.maximize {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1032;
    }
  }

  .form-inline {
    margin-top: 10px;
    justify-content: center;
  }
}
