<div class="container">
  <venko-async-container [isLoading]="routineIsLoading$ | async">
    <div class="slide-container" [class.full-screen]="isfullscreen">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let exercise of exercises$ | async">
          <venko-video-modal *ngIf="exercise.fields.youtubeUrl !== ''" videoCode="{{exercise.fields.youtubeUrl}}"></venko-video-modal>
          <div class="picsum-img-wrapper">
            <img src="{{ environment.host }}/{{exercise.fields.video}}" class="d-block w-100">
          </div>
        </ng-template>
      </ngb-carousel>
      <venko-timer [style.display]="isTimerVisible ? 'block' : 'none'" (timerEnded)="whenTimerEnded()"></venko-timer>
      <button *ngIf="!isfullscreen" (click)="openfullscreen()" class="btn btn-outline-light maximize"><fa-icon [icon]="faWindowMaximize"></fa-icon></button>
      <ng-container *ngIf="isfullscreen">
        <button (click)="closefullscreen()" class="btn btn-outline-light maximize"><fa-icon [icon]="faWindowRestore"></fa-icon></button>
        <button *ngIf="!isTimerVisible" (click)="initTimer()" class="btn btn-primary ml-sm-2 mb-2 start">{{ 'global.start' | translate }}</button>
        <div class="controls">
          <button *ngIf="isTimerVisible && timer.paused" (click)="pauseOrResumeTimer()" class="btn btn-info ml-sm-2 mb-2">{{ 'global.resume' | translate }}</button>
          <button *ngIf="isTimerVisible && !timer.paused" (click)="pauseOrResumeTimer()" class="btn btn-info ml-sm-2 mb-2">{{ 'global.pause' | translate }}</button>
          <button *ngIf="isTimerVisible" (click)="stopTimer(modalContent)" class="btn btn-dark ml-sm-2 mb-2">{{ 'global.stop' | translate }}</button>
        </div>
      </ng-container>
    </div>

    <div class="form-inline">
      <button [disabled]="isTimerVisible" (click)="restTime = 30; dificulty = 'Easy'" class="btn btn-success mr-sm-2 mb-2">{{ 'routineComponent.easyButton' | translate }}</button>
      <button [disabled]="isTimerVisible" (click)="restTime = 15; dificulty = 'Medium'" class="btn btn-warning mx-sm-2 mb-2">{{ 'routineComponent.mediumButton' | translate }}</button>
      <button [disabled]="isTimerVisible" (click)="restTime = 10; dificulty = 'Hard'" class="btn btn-dark mx-sm-2 mb-2">{{ 'routineComponent.hardButton' | translate }}</button>
      <div class="form-group mx-sm-2 mb-2">
        <input type="text"
        class="form-control"
        [(ngModel)]="restTime"
        placeholder="10"
        autofocus
        id="restTime"
        [disabled]="isTimerVisible"
        >
      </div>
      <button *ngIf="!isTimerVisible" (click)="initTimer()" class="btn btn-primary ml-sm-2 mb-2">{{ 'global.start' | translate }}</button>
      <button *ngIf="isTimerVisible && timer.paused" (click)="pauseOrResumeTimer()" class="btn btn-info ml-sm-2 mb-2">{{ 'global.resume' | translate }}</button>
      <button *ngIf="isTimerVisible && !timer.paused" (click)="pauseOrResumeTimer()" class="btn btn-info ml-sm-2 mb-2">{{ 'global.pause' | translate }}</button>
      <button *ngIf="isTimerVisible" (click)="stopTimer(modalContent)" class="btn btn-dark ml-sm-2 mb-2">{{ 'global.stop' | translate }}</button>
    </div>

    <ng-template #modalContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ 'global.add' | translate }}</h4>
      </div>
      <div class="modal-body">
        <venko-training-history-edit
          [trainingHistory]="trainingHistory$ | async"
          [selectedMonth]="selectedMonth"
          [item]="newItem"
          [showAutoData]="false"
          (saved)="onCloseModal()">
        </venko-training-history-edit>
      </div>
    </ng-template>


    <pre *ngIf="!environment.production">
      <code>{{ exercises$ | async | json }}</code>
    </pre>
  </venko-async-container>
</div>
