<div class="container">
  <venko-async-container [isLoading]="routinesIsLoading$ | async">

    <figure class="figure" *ngFor="let routine of routines$ | async">
      <venko-video-modal *ngIf="routine.youtubeUrl !== ''" videoCode="{{routine.youtubeUrl}}"></venko-video-modal>
      <a routerLink="{{ routine.id }}" class="zoom">
        <img
          src="{{ environment.host }}/{{ routine.photo }}"
          class="figure-img img-fluid rounded transition"
        />
        <figcaption class="figure-caption">{{ routine.name }}</figcaption>
      </a>
    </figure>

    <pre *ngIf="!environment.production">
      <code>{{ routines$ | async | json }}</code>
    </pre>
  </venko-async-container>
</div>
