<div class="container">
  <venko-async-container [isLoading]="routinesIsLoading$ | async">
    <div class="card" *ngFor="let routine of routines$ | async">
      <img
        class="card-img-top"
        src="{{ environment.host }}/{{ routine.photo }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ routine.name }}</h5>
        <a type="button" class="btn btn-primary" routerLink="{{routine.id}}">
          Go
        </a>
        <!-- <button
          type="button"
          class="btn btn-primary video-btn"
          data-toggle="modal"
          data-src="https://www.youtube.com/embed/{{ routine.youtubeUrl }}"
          data-target="#myModal"
        >
          Video
        </button> -->
      </div>
    </div>
    <pre *ngIf="!environment.production">
      <code>{{ routines$ | async | json }}</code>
    </pre>
  </venko-async-container>
</div>

<div
  class="modal fade bd-example-modal-lg"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src=""
            id="video"
            allowscriptaccess="always"
            allow="autoplay"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
