<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        [src]="videoUrl | safe: 'iframe'"
        id="video"
        frameborder="0"
        allowscriptaccess="always"
        allow="autoplay"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</ng-template>

<button (click)="open(content)" class="btn btn-primary ml-sm-2 mb-2">Video</button>
