.timer {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;

  &.dark {
    background-color: black;
  }

  &.green {
    background-color: #20c997;
  }

  p {
    color: blanchedalmond;
    font-size: 500%;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 992px) {
    p {
      font-size: 400%;
    }
  }

  @media screen and (max-width: 768px) {
    p {
      font-size: 350%;
    }
  }

  @media screen and (max-width: 576px) {
    p {
      font-size: 300%;
    }
  }
}


