<nav class="navbar navbar-expand-md navbar-light bg-venko fixed-top">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/logo.png" height="30" alt="" />
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ show: isOpen }">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/" (click)="isOpen = false">{{
          'navigationComponent.homeLink' | translate
        }}</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link"
          routerLink="/routines"
          *ngIf="usersService.isVenkoUser$ | async"
          (click)="isOpen = false"
          >{{ 'navigationComponent.routinesLink' | translate }}</a
        >
      </li>
    </ul>

    <ul class="navbar-nav">
      <!-- Fullsize dropdown: show if authenticated -->
      <li
        class="nav-item dropdown"
        *ngIf="auth.userProfile$ | async as profile"
        ngbDropdown
      >
        <a
          ngbDropdownToggle
          class="nav-link dropdown-toggle"
          id="profileDropDown"
          data-toggle="dropdown"
        >
          <!-- Profile image should be set to the profile picture from the id token -->
          <img
            [src]="profile.picture"
            alt="Profile picture"
            class="nav-user-profile rounded-circle"
            style="width: 30px"
          />
        </a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
          <!-- Show the user's full name from the id token here -->
          <div class="dropdown-header" *ngIf="profile">
            {{ profile.name }}
          </div>
          <a
            [routerLink]="['/profile']"
            class="dropdown-item dropdown-profile"
            *ngIf="profile"
            (click)="isOpen = false"
          >
            <fa-icon [icon]="faUser" class="mr-3"></fa-icon>
            {{ 'navigationComponent.profileButton' | translate }}
          </a>
          <a
            [routerLink]="['/users']"
            class="dropdown-item dropdown-profile"
            *ngIf="usersService.isAdmin$ | async"
            (click)="isOpen = false"
          >
            <fa-icon [icon]="faUsers" class="mr-3"></fa-icon
            >{{ 'navigationComponent.usersButton' | translate }}
          </a>
          <button
            (click)="auth.logout()"
            class="btn btn-link dropdown-item"
            id="qsLogoutBtn"
          >
            <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon
            >{{ 'navigationComponent.logOutButton' | translate }}
          </button>
        </div>
      </li>
      <!-- /Fullsize dropdown -->
    </ul>

    <button
      class="btn btn-outline-success my-2 my-sm-0"
      (click)="auth.login()"
      *ngIf="!auth.loggedIn"
    >
      {{ 'navigationComponent.logInButton' | translate }}
    </button>
  </div>
</nav>
