.dates-picker {
  display: flex;
  justify-content: center;

  h2 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.mood {
  padding-top: 0;
  padding-bottom: 5px;
}

.energy {
  padding-top: 17px;
}

.no-training {
  display: flex;
  justify-content: center;
}

.mt-20 {
  margin-top: 20px;
}
